#face{
    height:200px;
    width:200px;
    background-color: yellow;
    border-radius:50%;
}
.mouth{
    height:25px;
    width:75px;
    background-color: black;
    border:2px solid black;
    display:inline-block;
    position:absolute;
    top:140px;
    left:65px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    background-color: brown;
}
.left-eye, .right-eye{
    height:25px;
    width:25px;
    background-color: black;
    display:inline-block;
    position:absolute;
    top:60px;
    left:60px;
    border-radius:50%;
}
.right-eye{
    left:120px;
}
